body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: url(../img/background.jpg);
}
html{
	padding: 0;
	margin: 0; 
}

.header{
	padding-top: 10px;
	margin: 0;
	width: 100%;
	height: 1.5%;
	background-color: #A28658;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom: 2px solid black;
	opacity: 0.7;

}



.content {
	border-left: 2px solid #69695F;
	border-right: 2px solid #69695F;
	width: 50%;
	height: 100%;
	margin: 0;
	margin-left: 25%;
	background: url(../img/content-back.png);
	padding-bottom: 1.3%;
}

.content img{
	padding-left: 12.5%;
	width: 75%;
	height: 75%;
}
	
.content canvas {
	margin-left: 12.5%;
	width: 75%;
	height: 75%;
	background-color: #fff;
}

.footer{
	position: relative;
	padding: 0;
	margin: 0;
	height: 20%;
	color: #D4F2EA;
	width: 100%;
	background-color: #362F2E;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top:2px solid black;
	opacity: 0.8;
}
.footer a{
	text-decoration: none;
	text-transform: none;
	color: #D4F2EA;
}

.main-text{
	text-align: center;
	font-size: 24px;
	font-family: 'RobotoSlabRegular', arial;
	color: #A7FD6B;
}

.top-text{
	text-align: center;
	font-family: 'RobotoSlabRegular';
	background-color: #739E45;
	color: #D4F2EA;
	font-size: 36px;
	margin-bottom: 0.7%; 
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 7px;
	border:2px solid black;
}

#refresh{
	text-align: center;
	font-size: 30px;
	font-family: 'RobotoSlabRegular', arial;
	color: #A7FD6B;
	border:5px solid #739E45;
	background-color: rgba(49,162,133,0.6);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 18px;
}

#refresh:hover{
	background-color: #4B8CF5;
	opacity: 0.6;
	cursor: pointer;
}